#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#detail {
  flex-grow: 1;
  overflow: auto;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar ul {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar ul li {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-title, .artist-name {
  font-size: 14px;
}

.song-title {
  font-weight: bold;
}

.artist-name {
  
}

.home-page {
  font-family: Arial, sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 300px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.banner-text h1 {
  font-size: 3rem;
}

.banner-text p {
  font-size: 1.5rem;
}

.content {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

img.search-result {
  width: 100px;
  height: 100px;  
}